<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>
            Form Database
        </title>
        <link rel="stylesheet" type="text/css" href="css\style.css">
    </head>
    <body>
        <% if(success != '') { %>
            <div class="success">
                <h1>
                    Success
                </h1>
                <p>
                    <%= success %>
                </p>
            </div>
            <% } %>
        <div class="login-box">
            <h1>
                REGISTER
            </h1>
            <div class="textbox1">
                <form method="POST" action="/send">
                    <!--<input type="text" name="place" required placeholder="place">
                    <input type="submit" value="Submit">-->
                    <button class="abc" >Rainy</button><br>
                    <button class="abc">Cold</button><br>
                    <button class="abc">Warm</button>
                </form>
            </div>
            <div id="response">
                <p id="list"></p>
            </div>
        </div>
    </body>
</html>