<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>
            Form Database
        </title>
        <link rel="stylesheet" type="text/css" href="css\style.css">
    </head>
    <body>
        <div class="login-box">
            <h1>
                SAFAR
            </h1>
            <form action="/update">
                <input type="submit" value="update" placeholder="Update">
            </form>
            <div class="textbox1">
                <h3>Which kind of Destination??</h3>
            </div>
            <form action="/rainy">
                <input type="submit" value="rainy" placeholder="rainy">
            </form>
            <form action="/cold">
                <input type="submit" value="cold" placeholder="cold">
            </form>
            <form action="/warm">
                <input type="submit" value="warm" placeholder="warm">
            </form>
            {{success}}<br>
            <ul>
                {{#each Places}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{error}}
        </div>
        
    </body>

</html>