.textbox1 {
    text-align: center;
    padding-bottom: 20px;
}

.place-btn {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.alert{
    font-size: 25px;
    text-align: center;
}